.page {
    height: 100%;
}

.page-main {
    min-width: 375px;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color .5s ease,
        color .5s ease;
    scrollbar-width: thin;
    scrollbar-color: transparent var(--tertiary-text-color);
}

.page-main::-webkit-scrollbar {
    width: 5px;
}

.page-main::-webkit-scrollbar-track {
    background: transparent;
}

.page-main::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-text-color);
    border-radius: 20px;
}


@media (min-width: 768px) {
    .page-main {
        font-size: 18px;
    }
}