.error {
    position: relative;
    animation: fadeIn 1s ease forwards;
}

.error__container {
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    text-align: center;
}

.error__title, .error__text {
    margin: 0;
}

.error__title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.error__title::before {
    display: block;
    width: 64px;
    height: 64px;
    content: '';
    background: url('../../assets/img/face.svg') center no-repeat;
}

.error__text {
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--secondary-text-color);
}

@media (min-width: 768px) {
    .error {
        margin-top: 75px;
    }

    .error__title {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .error {
        margin-top: 89px;
    }
}