.search {
    margin-bottom: 28px;
}

.search-part {
    position: relative;
}

.lora .search {
    margin-bottom: 23px;
}

.inter .search {
    margin-bottom: 24px;
}

.search-part__label {
    display: block;
}

.search-part__input {
    width: 100%;
    padding: 16px 24px 15px 24px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color);
    background-color: var(--search-background);
    border: none;
    border-radius: 16px;
    transition: background-color .3s ease,
        color .3s ease;

    &::placeholder {
        font-family: var(--primary-font);
        color: var(--text-color);
        opacity: 0.25;
    }

    &:hover::placeholder {
        opacity: 0.5;
    }

    &:active,
    &:focus {
        outline: 1px solid var(--tertiary-text-color);
    }

    &.invalid {
        outline: 1px solid var(--invalid-color);
    }
}

.inter .search-part__input,
.lora .search-part__input {
    padding: 14px 24px;
}

.search-part__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
    cursor: pointer;
    background: url('../../../assets/img/icon-search.svg') center no-repeat;
    background-color: transparent;
    border: none;
    transition: transform .3s ease;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    &:focus {
        outline: none;
    }
}

.search-part__error {
    position: absolute;
    top: 52px;
    left: 0;
    display: block;
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--invalid-color);
    pointer-events: none;
    opacity: 0;
}

.shaking {
    animation: shake 1.5s ease forwards;
}

@media (min-width: 768px) {
    .search {
        margin-bottom: 50px;
    }

    .lora .search {
        margin-bottom: 41px;
    }

    .inter .search {
        margin-bottom: 43px;
    }

    .search-part__input {
        padding: 22px 24px 21px 24px;
        font-size: 20px;
    }

    .inter .search-part__input {
        padding: 20px 24px;
    }

    .lora .search-part__input {
        padding: 19px 24px 20px 24px;
    }

    .search-part__button {
        padding: 31px;
    }

    .search-part__error {
        top: 74px;
    }
}

@media (min-width: 1280px) {
    .search {
        margin-bottom: 52px;
    }

    .lora .search {
        margin-bottom: 43px;
    }

    .inter .search {
        margin-bottom: 45px;
    }
}