@import './styles/global/variable';

@font-face {
    font-family: 'Inconsolata Bold';
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/Inconsolata-Bold.woff2") format("woff2"),
        url("./assets/fonts/Inconsolata-Bold.woff") format("woff"),
}

body {
    padding: auto;
    margin: 0;
    font-family: 'Inconsolata Bold';
    list-style: none;
    background: url('./assets/img/favicon-32x32.png');
    background-color: $bg-color;
    font-weight: 700;
}